<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/" class="home-nav"><img src="https://cdn2.steamgriddb.com/icon_thumb/3cba81c5c6cac4ce77157631fc2dc277.png"></a> 
    <a href="/player-profiles" class="player-nav">CC Players</a>
    |
    <% if (user) { %>
      <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google" class="login">Log In&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/games-md-outline/24/43_-_Halo_ODST_fun_play_game-512.png"></a>
    <% } %>
  </nav>
