<%- include('../partials/header') %>
<body>
    <h1>All Players</h1>
    <ul>
      <% playerProfiles.forEach(function(player) { %>
        <li>
          <a href="/player-profiles/<%= player._id %>">
            <%= player.gamertag %>
          </a>
        </li>
      <% }); %>
    </ul>
    <% if (!user?._id && user) { %>
    <a href="/player-profiles/new">Add a new player</a>
    <% } %>
    <%- include('../partials/footer') %>