<%- include('../partials/header') %>
   
<h3><%= title %></h3>

<form action="/player-profiles" method="POST" autocomplete="off" class="new-form">
    <label> GamerTag:
        <input type="text" name="gamertag">
    </label>
    <label> Age:
        <input type="number" name="age">
    </label>
    <button class="new-button" type="submit">Save Player</button>
</form>

<%- include('../partials/footer') %>
