<!-- <%- include('../partials/header') %>
   
<h3><%= title %></h3>

<form action="/players" method="POST" autocomplete="off">
    <input type="text" name="name">
    <button type="submit">Save Player</button>
</form>

<%- include('../partials/footer') %> -->
